.button {
    
}

/* ============================================
   ENLACES
============================================ */
a {
    color: var(--color-white);
    text-decoration: none;
    display: inline;
}

a:hover {
    color: var(--color-pink);
}