.button-link {
    color: var(--color-white);
    text-decoration: none;
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    border: 2px solid var(--color-white);
    background: transparent;
    font-weight: 600;
    font-stretch: 100%;
    padding: .25em 1em;
    cursor: pointer;
    transition: all .3s ease;
}

.button-link:hover {
    background: var(--color-white);
    color: var(--color-black);
}