footer#main-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: .5em 1em;
  color: var(--color-text);
  font-size: .875em;
  font-weight: 400;
  line-height: 1em;
  font-stretch: 85%;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer#main-footer p {
  background-color: var(--color-bg);
  margin: 0;
  text-align: left;
  font-size: inherit;
  font-stretch: inherit;
}

footer#main-footer a {
  background-color: var(--color-bg);
  transition: color .3s ease;
  display: inline-flex;
  font-stretch: inherit;
  font-weight: inherit;
  font-size: inherit;
}