footer#main-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 0;
  color: var(--color-text);
  font-size: .875em;
  font-weight: 400;
  line-height: 1em;
  font-stretch: 85%;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
}

footer#main-footer p {
  margin: 0;
  text-align: left;
  font-size: inherit;
  font-stretch: inherit;
  mix-blend-mode: exclusion;
  background: white;
  color: black;
  padding: .25em .5em;
  line-height: 1em;
}

footer#main-footer a {
  transition: color .3s ease;
  display: inline-flex;
  font-weight: 400;
  background: white;
  color: black;
  padding: .25em .5em;
  line-height: 1em;
}