footer#main-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: .5em 1em;
  color: var(--color-text);
  font-size: .875em;
  font-weight: 400;
  line-height: .8em;
  font-stretch: 85%;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 9;
}

footer#main-footer p {
  margin: 0;
  text-align: left;
  font-size: inherit;
  font-stretch: inherit;
  line-height: .8em;
  font-weight: 300;
}

footer#main-footer strong {
  font-weight: 500;
}

footer#main-footer a {
  transition: color .3s ease;
  display: flex;
  line-height: .6em;
  align-items: flex-end;
  font-weight: 500;
  gap: .235em;
}