header#main-header {
	padding: .5em 1em;
	left: 0;
	top: 0;
	z-index: 1;
	position: absolute;
	width: calc(100% - var(--scroll-size));
}

header#main-header nav {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    align-content: flex-end;
    flex-direction: row;
    width: 100%;
}
header#main-header strong {
	font-weight: 650;
}
header#main-header nav a {
	display: flex;
	font-size: inherit;
	width: 110px;
	text-indent: -80px;
}
header#main-header nav p {
    margin: 0;
    font-size: inherit;
}
header#main-header img {
    width: auto;
    display: block;
    height: 14px;
}