body {
    overflow: hidden;
}
#preloader {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--color-black);
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
}

#preloader h1 small {
    display: block;
    font-stretch: 99%;
    font-weight: 700;
    text-align: center;
    font-size: .272em;
    line-height: 1em;
}

#preloader p {
    font-size: var(--font-size-lg);
    text-align: center;
    margin-top: 2em;
}

#enter-btn {
    border: 2px solid var(--color-white);
    text-transform: uppercase;
    background: transparent;
    color: inherit;
    font-weight: 600;
    font-stretch: 100%;
    font-size: 1em;
    padding: .25em 1em;
    cursor: pointer;
    transition: all .3s ease;
}

#enter-btn:hover {
    background: var(--color-white);
    color: var(--color-black);
}