.project-container {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.project-container article {
    height: 100%;
    padding: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-container:nth-child(odd) {
    text-align: left;
}
.project-container:nth-child(even) {
    text-align: right;
}
.project-container:nth-child(1) {
    background-color: var(--color-orange);
}
.project-container:nth-child(2) {
    background-color: var(--color-pink);
}
.project-container:nth-child(3) {
    background-color: var(--color-green);
}
.project-container:nth-child(4) {
    background-color: var(--color-red);
}
.project-container:nth-child(5) {
    background-color: var(--color-blue);
}
.project-container:nth-child(6) {
    background-color: var(--color-orange);
}
.project-container:nth-child(7) {
    background-color: var(--color-pink);
}
.project-container:nth-child(8) {
    background-color: var(--color-green);
}
.project-container:nth-child(9) {
    background-color: var(--color-red);
}
.project-container:nth-child(10) {
    background-color: var(--color-blue);
}
.project-container:nth-child(11) {
    background-color: var(--color-orange);
}
.project-container:nth-child(12) {
    background-color: var(--color-pink);
}