.project-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    background-color: black;
    overflow: hidden;
}

.project-container article {
    padding: 1em;
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    text-align: center;
    mix-blend-mode: lighten;
    max-width: 960px;
}

.project-container img,
.project-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    filter: contrast(1.4) brightness(.6);
}

.title-container {
    text-align: center;
    width: 100%;
    position: relative;
}

.title-container h2 {
    margin: 0;
    padding: 0;
    font-size: 16vw;
    width: 100%;
}

#andanza {
    color: #cf4a29;
    background: #eeeed8;
}
#que-hay-detras-del-pasaje {
    background-color: #000;
    color: #f9ed53;
}
#que-hay-detras-del-pasaje .ruta-variable:nth-child(1) {
    transform: translateX(-.2em);
}
#que-hay-detras-del-pasaje .ruta-variable:nth-child(2) {
    transform: translateX(.2em);
}

#eje-central {
    background-color: #000;
}
#eje-central video {
    filter: contrast(1.2) brightness(1.2);
    opacity: .5;
}

#rastros-de-jamaica {
    background-color: #000000;
    color: #ec4342;
}
#rastros-de-jamaica video {
    filter: contrast(1.2) brightness(.8);
}
#linea-35 {
    background-color: #000;
}
#linea-35 video {
    filter: contrast(1.4) brightness(.4);
    opacity: .5;
}
#estruendo-masculino {
    background-color: #000;
}
#estruendo-masculino video {
    filter: contrast(1.2) brightness(.8);
    opacity: .8;
}
#ecos-del-anden {
    background-color: #000;
    color: var(--color-orange);
}
#ecos-del-anden video {
    filter: contrast(1) brightness(1);
    opacity: .5;
}
#pasos-que-no-se-ven {
    background-color: #000;
}
#pasos-que-no-se-ven video {
    filter: contrast(1.4) brightness(1);
    opacity: 0.5;
}

#embotellados {
    background-color: #000;
    color: #daa800;
}
#embotellados video {
    filter: contrast(1) brightness(.9);
    opacity: .5;
}
#desgaste {
    background-color: #5B4732;
}
#moviliencia {
    background-color: var(--color-black);
}