.project-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid white;
    flex-direction: column;
}

.project-container article {
    padding: 1em;
    width: 80%;
    margin: 0 auto;
    max-width: 840px;
}

.title-container {
    text-align: center;
    background-color: var(--color-pink);
}

.title-container h2 {
    margin: 0;
    padding: 0;
    line-height: 1;
    overflow: hidden;
}

.title-container h2 .char {
    display: inline-block;
}

.project-container:nth-child(odd) article {
    text-align: right;
}
.project-container:nth-child(even) article {
    text-align: left;
}