.project-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.project-container article {
    padding: 1em;
    text-align: center;
}

.project-container:nth-child(odd) {
    text-align: left;
}
.project-container:nth-child(even) {
    text-align: right;
}