.project {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    /* Scroll snap: alinear al top del elemento */
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-margin-top: 0;
}

#intro {
    background-color: var(--bg);
    text-align: center;
    /* color: var(--h1); */
}
#intro header p {
    opacity: .5;
}
#intro header p {
    opacity: 1;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5em auto;
    text-align: center;
    text-wrap-style: balance;
    max-width: 60ch;
}
#intro header p:nth-child(2) {
    font-size: 6vw;
    margin: .2em 0;
    /* color: var(--h2); */
}
#intro header p:nth-child(3) {
    font-size: 4vw;
    /* color: var(--h3); */
    margin: .1em 0;
}
#intro header p:nth-child(4) {
    font-size: 3vw;
    /* color: var(--h2); */
    opacity: .6;
    margin: .35em 0;
}
#intro header p:nth-child(5) {
    font-size: 2vw;
    /* color: var(--h1); */
    opacity: .5;
    margin-top: .2em;
}

:root {
    --bg: #0B0D10;
    --h1: #39FF14;
    --h2: #FF7A00;
    --h3: #E4007C;
    --p: #F2F2F2;
  }
  
  :root[data-theme="light"] {
    --bg: #F5F4F1;
    --h1: #0057FF;
    --h2: #A6FF00;
    --h3: #FF5C00;
    --p: #111111;
  }

.project article {
    padding: 1em;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    text-align: center;
    max-width: 840px;
}
.authors {
    font-size: 3vw;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.project header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.project header p {
    text-transform: uppercase;
    font-size: 3em;
    margin: .5em 0;
    width: 100%;
    text-align: center;
}

.project img,
.project video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    filter: contrast(1.4) brightness(.6);
}

.title-container {
    text-align: center;
    width: 100%;
    position: relative;
}

.title-container h2 {
    margin: 0;
    padding: 0;
    font-size: 16vw;
    width: 100%;
}

#andanza {
    color: #cf4a29;
    background: #eeeed8;
}
#que-hay-detras-del-pasaje {
    background-color: #000;
    color: #f9ed53;
}
#que-hay-detras-del-pasaje .var-text:nth-child(1) {
    transform: translateX(-.2em);
}
#que-hay-detras-del-pasaje .var-text:nth-child(2) {
    transform: translateX(.2em);
}

#eje-central {
    background-color: #000;
}
#eje-central video {
    filter: contrast(1.2) brightness(1.2);
    opacity: .5;
}

#rastros-de-jamaica {
    background-color: #000000;
    color: #ec4342;
}
#rastros-de-jamaica video {
    filter: contrast(1.2) brightness(.8);
}
#linea-35 {
    background-color: #000;
}
#linea-35 video {
    filter: contrast(1.4) brightness(.4);
    opacity: .5;
}
#estruendo-masculino {
    background-color: #000;
}
#estruendo-masculino video {
    filter: contrast(1.2) brightness(.8);
    opacity: .8;
}
#ecos-del-anden {
    background-color: #000;
    color: var(--color-orange);
}
#ecos-del-anden video {
    filter: contrast(1) brightness(1);
    opacity: .5;
}
#pasos-que-no-se-ven {
    background-color: #000;
}
#pasos-que-no-se-ven video {
    filter: contrast(1.4) brightness(1);
    opacity: 0.5;
}

#embotellados {
    background-color: #000;
    color: #daa800;
}
#embotellados video {
    filter: contrast(1) brightness(.9);
    opacity: .5;
}
#desgaste {
    background-color: #5B4732;
}
#moviliencia {
    background-color: var(--color-black);
}
