:root {
    --scroll-background: var(--color-bg);
    --scroll-foreground: var(--color-text);
    --scroll-background-over: var(--color-pink);
    --scroll-size: 10px;
}

::-webkit-scrollbar {
    background-color: var(--scroll-background);
    transition: background-color 150ms ease;
    height: var(--scroll-size);
    width: var(--scroll-size);
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-background);
    transition: background-color 150ms ease;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-foreground);
    transition: background-color 150ms ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-background-over);
    transition: background-color 150ms ease;
}