.slideshow-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
}

.slideshow-slide img {
    position: absolute;
}