<footer class="footer" id="main-footer">
  <div class="container">
    <div class="footer-grid">
      <!-- Company Info -->
      <div class="footer-company">
        <h3>CENTRO | Diseño, Cine y Televisión</h3>
        <a class="footer-link" href="https://maps.app.goo.gl/gKXSB5bNvybGQoF67" title="Ver en Google Maps" target="_blank">Av. Constituyentes 455, CDMX</a>
        <a class="footer-link" href="tel:+525527899000" title="Marcar (52)55 2789 9000">(+52) 55 2789 9000</a>
      </div>

      <!-- Logo -->
      <div class="footer-logo">
        <a href="https://centro.edu.mx/" class="footer-logo-link" target="_blank">
          <img src="./img/centro-logo.svg" alt="CENTRO Diseño, Cine, Televisión | Logotipo" class="footer-logo-img" />
        </a>
      </div>

      <!-- Social Media -->
      <div class="footer-social">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a href="https://instagram.com/centro_U/" class="footer-social-link" title="CENTRO en Instagram" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://linkedin.com/school/centro.edu.mx/" class="footer-social-link" title="CENTRO en LinkedIn" target="_blank">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://tiktok.com/@centro_diseno_cine_tv?lang=es" class="footer-social-link" title="CENTRO en TikTok" target="_blank">
              <i class="fa-brands fa-tiktok"></i>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://facebook.com/centro.edu.mx" class="footer-social-link" title="CENTRO en Facebook" target="_blank">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://twitter.com/centro_news" class="footer-social-link" title="CENTRO en X" target="_blank">
              <i class="fa-brands fa-x-twitter"></i>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://youtube.com/channel/UC40YNTjmtfGfYOmogaPvXHQ" class="footer-social-link" title="CENTRO en Youtube" target="_blank">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer> 