<header id="main-header">
  <nav>
    <a class="nav-link" href="https://centro.edu.mx/" title="Ir a CENTRO">
      <img src="./img/centro-logo.svg" alt="CENTRO Logotipo" width="100" height="20">
    </a>
    <a class="nav-link" href="{{ '/proyectos.html' | relative_url }}" title="Nos vemos en el Punto de Encuentro">
      Movilidad CDMX
    </a>
    <a class="nav-link" href="{{ '/proyectos.html' | relative_url }}" title="Nos vemos en el Punto de Encuentro">
      Tipografía <br>
      <small>Open Sans</small>
    </a>
  </nav>
</header>