<header class="container">
  <nav class="row" aria-label="principal">
    <a href="{{ '/' | relative_url }}" class="brand">Diseño Digital 5</a>
    <a href="{{ '/manifiesto.html' | relative_url }}">Manifiesto</a>
    <a href="{{ '/guia-estilo.html' | relative_url }}">Guía de Estilo</a>
    <a href="{{ '/proyectos-g1.html' | relative_url }}">Proyectos G1</a>
    <a href="{{ '/proyectos-g2.html' | relative_url }}">Proyectos G2</a>
    <a href="{{ '/moodboard.html' | relative_url }}">Mood Board</a>
  </nav>
</header>